name: Release packages

on:
  push:
    branches:
      - devel
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  checks: write
  contents: write
  pull-requests: write

jobs:
  build:
    uses: ./.github/workflows/build.yaml

  check:
    needs: build
    uses: ./.github/workflows/R-CMD-check.yaml

  release:
    name: Release new packages
    runs-on: ubuntu-latest
    if: ${{ github.ref_type == 'tag' }}
    needs: check

    steps:
      - name: Collect packages
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Copy final packages to release
        run: |
          mkdir release
          mv artifacts/speakeasyr-toolbox-${{ github.sha }}/* release
          mv artifacts/speakeasyr-python-*-${{ github.sha }}/* release

      - name: Upload assets to release
        uses: softprops/action-gh-release@v1
        with:
          files: release/*
